# Data Science Tools and Ecosystem

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__

__Objectives:__

- Introduction to Jupiter Notebook
- List of popular languages for data science like R, Scala, Python
- How to dowload notebook and upload notebooks
- Kernels in which we execute

Some of the popular languages that Data Scientists use are:
1. R
2. Scala
3. SQL
4. Python

Some of the popular languages that Data Scientists use are:
1. R
2. Scala
3. SQL
4. Python

Some of the commonly used libraries used by Data Scientists include:
- Pandas
- Numpy
- Apache Spark
- R-libraries

Some of the commonly used libraries used by Data Scientists include:
- Pandas
- Numpy
- Apache Spark
- R-libraries

|Data Science Tools|
|------------------|
|Jupiter Notebook|
|R-studio|
|Apache Zeppline|

|Data Science Tools|
|------------------|
|Jupiter Notebook|
|R-studio|
|Apache Zeppline|

### Below are a few examples of evaluating arithmetic expressions in Python

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
12-4

8

In [3]:
12+4

16

In [4]:
12*3

36

In [5]:
12/3

4.0

This a simple arithmetic expression to mutiply then add integers

This a simple arithmetic expression to mutiply then add integers

In [6]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

This will convert 200 minutes to hours by diving by 60

In [7]:
200/60

3.3333333333333335

## Author

## Author

Eyob Birhanu Haile

Eyob Birhanu Haile